{{snippet app="sns.menus" template="file://user.menus.html" /}}

<div class="design_2colum">
	<div class="left_area">
		{{snippet app="profile.menus"}}
		{{foreach from=$menus key=k value=v}}
		<a class="left_menu" href="{{$v.url}}">{{$v.title}}</a>
		{{/foreach}}
		{{/snippet}}
	</div>

	<div class="main_area">
		<div class="title">Profile</div>
		<div class="contents">
			{{snippet app="profile.form"}}{{$form->toHead( )}}
			<table class="form">
				{{foreach from=$form->getInputs() key=k value=v}}
				<tr>
					<th>{{$v->toLabel()}}</th>
					<td>{{$v}}</td>
					<td>{{if $v->getProp('type') != 'submit'}}{{$v->ask}}{{/if}}</td>
				</tr>
				{{/foreach}}
			</table>
			{{$form->toTail( )}}{{/snippet}}
		</div>
	</div>
</div>
