<style>
	#user-menus a{
	display              : block;
	float                : left;
	margin-right         : 0px;
	background-image     : url({{$conf.site.url}}/resource/img/botton_bg.png);
	font-size            : 12px;
	height               : 24px;
	}
	#user-menus a:hover{
	background-image     : url({{$conf.site.url}}/resource/img/botton_bg_hover.png);
	}
	#user-menus a .menu{
	display              : block;
	padding              : 5px 10px 0px 10px;
	color                : #FFF;
	}
	#user-menus {
		background           : #555;
	background-image     : url({{$conf.site.url}}/resource/img/botton_bar.png);
	background-image   : url({{$conf.site.url}}/resource/img/botton_line.png);
	height               : 24px;
	}
	#user-left {
	width                : 260px;
	float                : left;
	}
	#user-center {
	margin-left          : 260px;
	}
</style>
<div id="user-menus">
	{{foreach from=$menus key=k value=v}}
	<a href="{{$v.url}}"><span class="menu">{{$v.title}}</span></a>
	{{/foreach}}
	<hr style="clear:both;border:none;" />
</div>
